<html>
    <head>
        <title>CipherSleuth</title>
        <link href="/static/sgame.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Coming+Soon' rel='stylesheet' type='text/css'>
    <script language='Javascript' type="text/javascript">
            
            var ajaxVariable = false;
            
            function ajaxFunction(url)
            {
                ajaxVariable = false;
                
                try {
                    ajaxVariable = new XMLHttpRequest();
                } catch(e){
                    try {
                        ajaxVariable = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch(e) {
                        try {
                            ajaxVariable = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch(e) {
                            alert("Your browser is not compatible");
                            return false;
                        }
                    }
                }
                
                ajaxVariable.onreadystatechange = ajaxReply;
                alert(url);
                var str="hello";
                var post_str="greeting=" + str;
                ajaxVariable.open('GET', url, true);
                ajaxVariable.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                ajaxVariable.setRequestHeader("Connection", "close");
                
                ajaxVariable.send(post_str);
                
                return true;
                
            }
            
            function ajaxReply()
            {
           
                if (ajaxVariable.readyState == 4)
                {
                    alert(ajaxVariable.status);
                    
                    if (ajaxVariable.status == 200)
                    {
                        alert(ajaxVariable.responseText);
                        
                    }
                    else
                    {
                        alert("Something went wrong!" + ajaxVariable.status.toString() + '.');
                        return;
                    }
                }
           }
            
</script>
       
    
    
    
    </head>
    
    <body style="background-image:url('/image/hackimg2.jpg'); background-size:cover;">
        
        <div id="wrapper">
        <div id="header">
            <h1 id='title' class='group'><a href="main.html" class="head">Cipher Sleuth </a></h1>
        </div>
        <h1 id='username' class='group'>Current user: {{username}} | Current level: {{ level }} | <span id="saving"><a href="/saving">SAVE</a></span> | <span id="exiting"><a href="/exiting">EXIT</a></span></h1>
        
        <br /> 
        
        <div id="gcontent">
            <!--<center><h2>Please press <a href="/game">HERE</a> to play a game</h2></center>-->
            <div id='decoded'>
                <form method='post' action="/game?op=11"><center>
                    {%ifequal solved None %}
                    <span id='decoded_msg'>Decoded message: <input type="text" name='decodedmsg' size=100;></span><input type="submit" VALUE="SUBMIT">
                    {%endifequal%}
                </center>
                </form>
            </div>
            <div id='msg_box'>
                <center><h2 id='error_text'>{{ error_msg }}</h2>
                <h2 id='msg_text'><a href="/game?level=2">{{ msg }}</a></h2></center>
            </div>
                <div id="ginterface">
                    <div id="letter">
                        <div id="instruction">
                        <p>Hello, {{ username }}</p>
                        <p>I know you find this letter very strange but I want you to stay with me for the mission.</p>
                        <p>Your grandmother was the best engineer in the world and she worked on a very important project at NASA.
                        She often talked about you quite often while we were working together, so I decided you would be the best person to be in charge of this task.</p>
                        <p>I will tell you more detail as we work together, but I can tell you this task is related with your grandmother and it has to be kept in secret. So the rest of
                        instruction is encoded as below.To decode this message, follow this instruction. On your left, you can work on terminal with samples</p>
                        <p class='decode'>Deocde message below: </p>
                        <p class='decode'>Key: 8</p>
                        <p class='decode'>Encoded msg: </p>
                        <p class='decode'>OW BW TQJZIZG</p>
                        <p>I wish you best luck!</p>
                        
                        <p>Sincerely,</p>
                        <p>Mrs.J</p>
                        </div>
                
                </div>
                <div id="terminal">
                    Terminal
                </div>
                
                </div>
        </div>
        </div>
        
    </body>
</html>