<html>
    <head>
        <title>CipherSleuth</title>
        <link href="/static/sgame.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Coming+Soon' rel='stylesheet' type='text/css'>
    <script language='Javascript' type="text/javascript">
            
            var ajaxVariable = false;
            
            function ajaxFunction(url)
            {
                ajaxVariable = false;
                
                try {
                    ajaxVariable = new XMLHttpRequest();
                } catch(e){
                    try {
                        ajaxVariable = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch(e) {
                        try {
                            ajaxVariable = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch(e) {
                            alert("Your browser is not compatible");
                            return false;
                        }
                    }
                }
                
                ajaxVariable.onreadystatechange = ajaxReply;
                alert(url);
                var str="hello";
                var post_str="greeting=" + str;
                ajaxVariable.open('GET', url, true);
                ajaxVariable.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                ajaxVariable.setRequestHeader("Connection", "close");
                
                ajaxVariable.send(post_str);
                
                return true;
                
            }
            
            function ajaxReply()
            {
           
                if (ajaxVariable.readyState == 4)
                {
                    alert(ajaxVariable.status);
                    
                    if (ajaxVariable.status == 200)
                    {
                        alert(ajaxVariable.responseText);
                        
                    }
                    else
                    {
                        alert("Something went wrong!" + ajaxVariable.status.toString() + '.');
                        return;
                    }
                }
           }
            
</script>
       
    
    
    
    </head>
    
    <body style="background-image:url('/image/timetravel.png'); background-size:cover;">
        
        <div id="wrapper">
        <div id="header">
            <h1 id='title' class='group'><a href="main.html" class="head">Cipher Sleuth </a></h1>
        </div>
        <h1 id='username' class='group'>Current user: {{username}}</h1>
    
        <br /> 
        
        <div id="gcontent">
            <!--<center><h2>Please press <a href="/game">HERE</a> to play a game</h2></center>-->
            <div id='decoded'>
                <form method='post' action="/game?op=15"><center>
                    
                </center>
                </form>
            </div>
            <div id='msg_box'>
                <center><h2 id='error_text'>{{ error_msg }}</h2>
            </div>
                <div id="ginterface">
                    <div id="grandma_letter">
                        <div id="final_instruction">
                        {% ifequal solved None %}
                    
                        
                        <h1>The story goes on....</h1>
                        <p>{{ username }}, first of all congratulation! When you read this letter, I would be gone already. But I knew you would be able to complete this mission. It required lots of problem solving and bravity</p>
                        <p>When I was working at NASA, I was a lead scientist to develope a machine that travels outer space in secret. But we couldnt'f fnd the right person for this machine.
                        I thought of you. You have passed all test for intelligent for travel and courage to take a risk for curiosity.</p>
                        <p>I know your birthday is coming up and I am sad I can't be with you, and this is my last present for you. This machine will take you to outer space and back home in no time.</p>
                        <p>Though you will need to decode lots of message for safety. I developed them for you to stay safe and come back to the Earth as planned.</p>
                        <p>I hope you enjoy your 17th birthday! If you are ready, type your code!</p>
                        
                        
                        <form method="post" action="/game?op=0">
                        Type the code here : <input type="text" name='decodedmsg'><input type="submit" value="START">
                        <p>Love,</p>
                        <p>Your grandma</p>
                        </form>
                        {% endifequal %}
                        <center><h2 id='msg_text' style="margin-top:100px;"><a href="/game?c=1">{{ msg }}</a></h2></center>
                        
                        </div>
                
                </div>
                
                
                </div>
        </div>
        </div>
        
    </body>
</html>