<html>
    <head>
        <title>CipherSleuth</title>
        <link href="/static/main.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
    </head>
    <body style="background-color:black;">
        
        <div id="wrapper">
        <div id="header">
            <center><h1 id='title'><a href="main.html" class="head">Cipher Sleuth</a></h1></center>
        </div>
        <div id="content">
            <!--<center><h2>Please press <a href="/game">HERE</a> to play a game</h2></center>-->
            <div id="frame">
            <div id="inner">
            <br /><br />    
            <h2 id='role'>I'm a ... </h2>
            
           <a href="/login?role=1" class='lookupid'>TEACHER </a><br /><br />
            <span class='role'><a href="/login?role=2" class='lookupid'>STUDENT</a></span>
            
            <br /><br />    

            </div>
            </div>
            </div>
           
        </div>
        
    </body>
</html>